.App {
  text-align: center;
  margin: auto;
***REMOVED***

.pageHeader{
  background-color: #9ebdca;
  padding: 35px;
***REMOVED***

.myForm{
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
***REMOVED***

.formField{
  width: 180px;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
***REMOVED***

.myButton{
  width: 25%;
  background-color: #00b894;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
***REMOVED***

table.tableSetUp{
  margin-left: auto;
  margin-right: auto;
***REMOVED***

.tableSetUp{
  background-color: #9ebdca;
  width: 75%;
  text-align: center;
  margin: 2px;
  padding: 10px;
  outline-style: auto;
  outline-color: #00b894;
  font-size: calc(10px + 2vmin);
  font-family: "Times New Roman", Times, serif;
***REMOVED***

.titles{
  text-align: center;
  background-color: #9ebdca;
  outline-style: auto;
  outline-color: #00b894;
  outline-width: 4px;
***REMOVED***

.myTable{
  background-color: #9ebdca;
  display: inline-block;
  width: 75%;
  border: 4px;
***REMOVED***

.myTableButton{
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 24px;
  border: 3px solid #00b894;
  margin: 3px 5px;
***REMOVED***

.App-logo {
  height: 40vmin;
***REMOVED***

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
***REMOVED***

.App-link {
  color: #09d3ac;
***REMOVED***
