.App {
  text-align: center;
***REMOVED***

.App-logo {
  height: 60vmin;
***REMOVED***

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
***REMOVED***

.App-link {
  color: #09d3ac;
***REMOVED***
p {
  color: black;
***REMOVED***